* {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: JetBrainsMono Nerd Font;
}

window#waybar {
  background: #292828;
  background-color: rgba(50, 50, 50, 0.2);
  color: #ffffff;
}

#custom-logo {
  font-size: 20px;
  margin: 0;
  margin-left: 7px;
  margin-right: 11px;
  padding: 0;
}

#workspaces button:hover,
#workspaces button:active {
  background-color: #292828;
  color: #ffffff;
}
#workspaces button.focused {
  background-color: #383737;
}

#clock,
#cpu,
#memory,
#pulseaudio {
  border: 1px solid white;
  border-radius: 20px;
  padding: 0px 10px;
  margin: 0px 4px;
}

#workspaces button {
  border: 1px solid white;
  border-radius: 20px;
  margin: 0px 4px;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 15px;
}

widget {
}
