* {
  border: none;
  border-radius: 0;
  padding: 0;
  /* margin: 0; */
  margin: 1px;
  font-size: 14px;
  font-family: GeistMono NF;
}

window#waybar {
  background: #292828;
  /* background-color: rgba(50, 50, 50, 0.2); */
  background-color: rgba(0, 0, 0, 0);
  /* background-color: rgba(@background, 0.5); */
  /* background-color: @background; */
  color: @text;
}

#custom-logo {
  font-size: 20px;
  margin: 0;
  margin-left: 7px;
  margin-right: 14px;
  padding: 0;
  color: @logo;
}

/* #workspaces {
  border: 1px solid white;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 20px;
} */

#workspaces button.hover,
#workspaces button.active {
  background-color: #292828;
  /* color: greenyellow; */

  color: @highlight;
  border-bottom: 2px gold;
}

#workspaces button.focused {
  background-color: #585757;
}

#workspaces button {
  /* border: 1px solid white;
  border-radius: 20px; */
  margin: 0px 0px;
  margin-right: 12px;
  /* color: #ffffff; */
  padding-left: 10px;
  padding-right: 15px;
}

#clock,
#pulseaudio {
  /* border: 1px solid white; */
  border-radius: 20px;
  padding: 0px 10px;
  margin: 0px 4px;
}

box.horizontal.modules-center,
box.horizontal.modules-left,
box.horizontal.modules-right {
  /* background-color: aqua; */
  /* border: 1px solid rgb(255, 255, 255);
  border-radius: 10px 0px 0px 10px; */

  /* background-color: rgba(72, 255, 16, 0.2); */

  border-radius: 15px;
  border-bottom: 1px @highlight;
  background-color: @background;
}

#window {
  padding-left: 10px;
  padding-right: 10px;
}

#cpu,
#memory {
  /* border: 1px solid white; */
  /* border-radius: 20px; */
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 15px;
  margin: 0px 4px;
}
